body {
    background-color:black;
    }

.cabecalho-logo{
    background-color:#f7c20d;
    height: 120px;
    margin-top: -0.6%;
    margin-left: -0.6%;
    margin-right: -0.6%;
    
}
.cabecalho {
    background-color:yellow;
    margin-top: -0.5%;
    margin-left: -0.6%;
    margin-right: -0.6%;
    text-align: center;
       
 }
    a{
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 20px;
    }
    a:hover{
        color:green;
    }
.rodape {
    background-color:#f7c20d;
    text-align: center;
    width: 100%;
    position:absolute;
    height: 100px;
    margin-top: 5%;
    margin-left: -0.6%;
    margin-right: -0.6%;
      
}

.tabela{
    background-color:gray;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 20%;
    table-layout: auto;
  
}

.conteudo-tabela{
background-color: white;
text-align: center;
font-weight: bold;
}

.funcionarios{
    
    background-color: white;
    display:inline;
    margin: 300px;
    padding: 10px;
    

}

.texto{
color: white;
}